# Binaries and build artifacts
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local TLS Certificates
.certs/

# Dependencies
vendor/
node_modules/
.pnpm-store/

# Astro
.astro/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
